.achievements {
    font-family: 'Inter', sans-serif;
    width: 800px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    background-color: aliceblue;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-header {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-paragraph {
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    /* width: 1000px; */
    border: 1px solid black;
}

h3 {
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
}